.marquee_app {
  margin-top: 2rem;
  text-align: center;
}

.marquee_title {
  margin-bottom: 2rem;
}

.marquee_image_wrapper {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Image style with responsiveness */
.marquee_image_wrapper img {
  width: auto;
  max-height: 4rem; /* base size for mobile */
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 640px) {
  .marquee_image_wrapper img {
    max-height: 5rem;
  }
}

@media (min-width: 768px) {
  .marquee_image_wrapper img {
    max-height: 6rem;
  }
}

@media (min-width: 1024px) {
  .marquee_image_wrapper img {
    max-height: 7rem;
  }
}

/* Hover effect */
.marquee_image_wrapper img:hover {
  transform: scale(1.1);
}
